<a [routerLink]="['/produit', 'edit']" routerLinkActive="active"
  >nouveau produit</a
>
<table>
  <tr>
    <th>nom</th>
    <th>prix</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let p of produits; let index = index">
    <td>{{ p.nom }}</td>
    <td>{{ p.prix }}</td>
    <td>
      <button
        [routerLink]="['/produit', 'edit', index]"
        routerLinkActive="active"
      >
        editer
      </button>
    </td>
    <td><button (click)="delete(index)">supprimer</button></td>
  </tr>
</table>
