<ng-container *ngIf="!edit; else formEdit">
  <td>{{ personne.id }}</td>
  <td>{{ personne.prenom }}</td>
  <td>{{ personne.nom }}</td>
  <td>
    <button (click)="changeMode()" class="btn btn-outline-primary">
      editer
    </button>
  </td>
  <td>
    <button class="btn btn-outline-danger" (click)="delete()">supprimer</button>
  </td>
</ng-container>

<ng-template #formEdit>
  <td>{{ personne.id }}</td>
  <td><input [(ngModel)]="personne.prenom" /></td>
  <td><input [(ngModel)]="personne.nom" /></td>
  <td>
    <button (click)="save()" class="btn btn-outline-success">
      enregistrer
    </button>
  </td>
  <td>
    <button (click)="cancel()" class="btn btn-outline-warning">annuler</button>
  </td>
</ng-template>
