<ng-container *ngIf="consultation; else edition">
  <td>{{ produit.nom }}</td>
  <td>{{ produit.prix | double: "info":"autre" }}</td>
  <td><button (click)="edit()">editer</button></td>
  <td><button (click)="delete()">supprimer</button></td>
</ng-container>

<ng-template #edition>
  <td><input [(ngModel)]="produit.nom" /></td>
  <td><input [(ngModel)]="produit.prix" /></td>
  <td><button (click)="save()">enregistrer</button></td>
  <td><button (click)="cancel()">annuler</button></td>
</ng-template>
